{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<img src="/static/image/shoes.jpg" class="img-fluid my-3" alt="Интернет-магазин одежды">
<h1>{{ title }}</h1>
<div class="row my-3 g-3">
    <div class="col-12 col-md-6 col-lg-4">
        <img src="/static/image/shoes_01.jpg" class="w-100" alt="Интернет-магазин одежды">
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <img src="/static/image/shoes_02.jpg" class="w-100" alt="Интернет-магазин одежды">
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <img src="/static/image/shoes_03.jpg" class="w-100" alt="Интернет-магазин одежды">
    </div>
</div>
{% endblock %}